<script>
$(function() {
  $("#searchPolitician").select2({
    placeholder: "Search for a movie",
    minimumInputLength: 1,
        ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
        url: "http://api.rottentomatoes.com/api/public/v1.0/movies.json",
        dataType: 'json',
        data: function (term, page) {
          return {
                    q: term, // search term
                    page_limit: 10,
                    apikey: "ju6z9mjyajq2djue3gbvv26t" // please do not use so this example keeps working
                  };
                },
            results: function (data, page) { // parse the results into the format expected by Select2.
                // since we are using custom formatting functions we do not need to alter remote JSON data
                return {results: data.movies};
              }
            },
            initSelection: function(element, callback) {
            // the input tag has a value attribute preloaded that points to a preselected movie's id
            // this function resolves that id attribute to an object that select2 can render
            // using its formatResult renderer - that way the movie name is shown preselected
            var id=$(element).val();
            if (id!=="") {
              $.ajax("http://api.rottentomatoes.com/api/public/v1.0/movies/"+id+".json", {
                data: {
                  apikey: "ju6z9mjyajq2djue3gbvv26t"
                },
                dataType: "jsonp"
              }).done(function(data) { callback(data); });
            }
          },
        // formatResult: movieFormatResult, // omitted for brevity, see the source of this page
        // formatSelection: movieFormatSelection,  // omitted for brevity, see the source of this page
        dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
        escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
      });
  });
</script>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2>To de Olho!</h2>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <form role="form" id="form-search">
          <div class="form-group">
            <label class="sr-only" for="searchPolitician"></label>
            <div class="col-sm-12">
              <input type="text" id="searchPolitician" class="form-control">
              <!-- <input type="text" class="form-control " id="searchPolitician" placeholder="Procurar por políticos">
              <ul id="resultPolitician">
                <li><a href="#">
                  <div class="thumb small-thumb resultImg"></div>
                  <div class="resultText">
                    <strong>Dilma Russeff</strong>
                    <span>A Dilma é uma pessoa que gosta de vermelho.</span>
                  </div>
                </a></li>
                <li><a href="#">
                  <div class="thumb small-thumb resultImg"></div>
                  <div class="resultText">
                    <strong>Dilma Russeff</strong>
                    <span>A Dilma é uma pessoa que gosta de vermelho.</span>
                  </div>
                </a></li> -->
              </ul>
            </div>
          </div>
        </form>
      </div>  
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>O QUE É?</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="thumb medium-thumb"></div>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-3">
          <div class="thumb medium-thumb"></div>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-3">
          <div class="thumb medium-thumb"></div>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-3">
          <div class="thumb medium-thumb"></div>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div> <!-- /container -->