<script>
$(function() {
  $("#searchPolitician").select2({
    placeholder: "Busque por um politico",
    minimumInputLength: 1,
    ajax: {
      url: "/politicians.json",
      dataType: 'json',
      data: function (term, page) {
      debugger;
            return {
                q: term,
                limit: 10
            };
      },
      results: function (data, page) {
        return {results: data};
      }
    },
    formatResult: function(p){
      if(p.image)  return "<img src='" + p.image  + "'/>"+ p.name;
      return  p.name;
    },
    dropdownCssClass: "bigdrop",
    escapeMarkup: function (m) { return m; }
  }).on("change", function(e){
    window.location = "/politicians/"+e.val
  });
});
</script>
<!-- Main jumbotron for a primary marketing message or call to action -->
<nav class="navbar navbar-default" role="navigation" style="border-bottom:none">
  &nbsp;
</nav>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= image_tag "logo.png", width: "271", height: "101", id: "home-logo" %>
        <p id="home-text">Aqui você pode saber mais sobre seu político preferido e acompanha suas movimentações em seu gabinete.</p>
        <form role="form" id="form-search">
          <div class="form-group">
            <label class="sr-only" for="searchPolitician"></label>
            <div class="col-sm-12">
              <input type="text" id="searchPolitician" class="form-control">
              <!-- <input type="text" class="form-control " id="searchPolitician" placeholder="Procurar por políticos">
              <ul id="resultPolitician">
                <li><a href="#">
                  <div class="thumb small-thumb resultImg"></div>
                  <div class="resultText">
                    <strong>Dilma Russeff</strong>
                    <span>A Dilma é uma pessoa que gosta de vermelho.</span>
                  </div>
                </a></li>
                <li><a href="#">
                  <div class="thumb small-thumb resultImg"></div>
                  <div class="resultText">
                    <strong>Dilma Russeff</strong>
                    <span>A Dilma é uma pessoa que gosta de vermelho.</span>
                  </div>
                </a></li> -->
              </ul>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

