
<%= render partial: "shared/flash_messages", flash: flash %>

<section id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= image_tag "logo_todeolho.svg", id: "home-logo" %>
        <p id="home-welcome"><span>Seja bem-vindo ao</span><strong>Tô de Olho</strong></p>
        <p id="home-text">Aqui você pode saber mais sobre seu político preferido e acompanha suas movimentações em seu gabinete.</p>
        <input type="text" id="home-search" class="form-control search" placeholder="Busque por um político">  
        <a href="#" id="home-next-content"><span>ENTENDA COMO FUNCIONA</span></a>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>

