default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password:
  host: localhost

development:
  <<: *default
  database: todeolho_development

test:
  <<: *default
  database: todeolho_test

production:
  <<: *default
  database: todeolho_production
