@import url(http://fonts.googleapis.com/css?family=Roboto:100,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300);

/* Variables */

$white:             	#fff;
$gray:              	#747474;
$light-gray:        	#ddd;
$yellow:            	#ffcf0d;
$green:             	#2fcc70;
$blue:              	#3eadf7;
$light-blue:			#3db1ff;

$font-family-title:		'Roboto', sans-serif;
$font-family-default:	'Lauto', sans-serif;
$font-normal-size:  	18px;

$border-light-gray: 	1px solid $light-gray;

$navbar-height:     	70px;
$footer-height:     	60px;