/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require select2
 *= require select2-bootstrap
 *= require font-awesome
 *= require_self
 */

h2 {
	text-align: center;
}

.jumbotron {
	text-align: center;
	position: relative;
}

#form-search {
	margin-top: 48px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/*#searchPolitician {
	background-image: url(loader.GIF);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 99% center;
}

#resultPolitician {
	display: block;
	position: absolute;
	padding: 0;
	list-style: none;
	width: 100%;
	z-index: 100;
}

#resultPolitician li {
	width: 100%;
}

#resultPolitician li a {
	display: table;
	border: 1px solid #ddd;
	border-top: none; 
	background: #fff;
	width: 90%;
	padding: 10px 15px;
	color: #000;
	line-height: 25px;
}

.resultImg, .resultText {
	float: left;
}

.resultText {
	margin-left: 15px;
	text-align: left;
}

.resultText span {
	display: block;
}*/

.thumb {
	background: #ddd;
	display: block;
}

.medium-thumb {
	width: 165px;
	height: 100px;
}

.small-thumb {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

.circle-medium-thumb {
	width: 150px;
	height: 150px;
	border-radius: 75px;
}

.circle-small-thumb {
	width: 80px;
	height: 80px;
	border-radius: 40px;
}

.with-navbar {
	margin-top: 50px;
}

#politician-photo {
	margin: 0 auto 0 auto;
}

#social-icons {
	font-size: 24px;
	position: absolute;
	top: 48px;
	right: 220px;
}

#follow {
	margin: 0 auto 0 auto;
}

#infos-section {
	display: none;
}

.nav-tabs {
	margin-bottom: 48px;
}

.dialog {
	position: relative;
	display: table;
	width: 100%;
}

.dialog-img {
	position: absolute;
	left: 0;
}

.dialog-box {
	float: right;
	border: 1px solid #000;
	width: 285px;
	height: 130px;
	padding: 10px 15px;
	margin-bottom: 20px;
}

.dialog-box:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 63px;
    border-style: solid;
    border-width: 9px 14px 9px 0;
    border-color: transparent #fff;
    display: block;
    width: 0;
    z-index: 1;
}

.dialog-box:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 61px;
    border-style: solid;
    border-width: 9px 14px 9px 0;
    border-color: transparent #000;
    display: block;
    width: 0;
    z-index: 1;
}

.dialog-box h4 {
	display: inline;
	margin-bottom: 14px; 
}

.dialog-box span {
	color: #ddd;
	float: right;
}

.info {
	text-align: center;
}

.info span, .info strong {
	display: block;
}

.info-img {
	margin-left: auto;
	margin-bottom: 14px;
	margin-right: auto;
}

.history {
	margin-top: 24px;
}
