@import "variables";

#home {
  background-image: url(BG.jpg);
  background-size: cover;
  background-position: -315px 20px;
  padding-top: 100px;
  text-align: center;
  color: $gray;
}

#home-logo {
	margin-bottom: 20px;
}

#home-welcome {
	font-family: $font-family-title;
	font-size: 42px;
	margin-bottom: 50px;

	span, strong {
		display: block;
	}
}

#home-text {
	font-size: 20px;
	margin-bottom: 50px;
}

#home-search {
	height: 60px;
	border: 1px solid #CFCFCF;
	border-radius: 0;
	text-align: center;
	font-family: $font-family-title;
	font-size: 26px;
	color: #BABABA;
	margin-bottom: 75px;
}

#home-next-content {
	display: block;
	margin-bottom: 50px;
	position: relative;
}

.select2-container, .select2-container * {
	margin: 0;
	position: relative;
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	border: 0px;
	border-bottom: 1px solid #dfdfdf;
	background: white;
	/* height: 50px; */
}

.select2-default {
	color: #dfdfdf !important;
	font-weight: 100;
	font-size: 48px;
}