@import "variables";

#home {
  background-image: url(BG.jpg);
  background-size: cover;
  background-position: 56% 0px;
  background-repeat: no-repeat;
  padding-top: 100px;
  text-align: center;
}

#home-logo {
	margin-bottom: 20px;
}

#home-welcome {
	margin-bottom: 50px;
	margin-top: 0;

	span, strong {
		display: block;
	}
}

#home-text {
	font-size: 20px;
	margin-bottom: 50px;
}

#home-search {
	height: 60px;
	border: 1px solid #CFCFCF;
	border-radius: 0;
	text-align: center;
	font-size: 26px;
	color: #BABABA;
	margin-bottom: 75px;
}

#home-next-content {
	display: block;
	margin-bottom: 50px;
	position: relative;
}

.select2-container, .select2-container * {
	margin: 0;
	position: relative;
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	border: 0px;
	border-bottom: 1px solid #dfdfdf;
	background: white;
	/* height: 50px; */
}

.select2-default {
	color: #dfdfdf !important;
	font-weight: 100;
	font-size: 48px;
}

.resume {
	text-align: center;
	margin-bottom: 75px;
}

.row {
	margin-bottom: 50px;
}

h3.yellow {
	background: transparent;
	color: $yellow;
}

h3.green {
	background: transparent;
	color: $green;
}

h3.blue {
	background: transparent;
	color: $blue;
}

.img-inf {
	width: 220px;
}

.text-inf p {
	font-size: $font-small-size;
}

.arrow-space {
	position: relative;
	height: 139px;

	.arrow-right {
		position: absolute;
		right: 25%;
		top: -20px;
	}

	.arrow-left {
		position: absolute;
		left: 25%;
		top: -20px;
	}
}

