#firula {
	float: left;
	position: absulute;
	margin: 0px;
	top: 0px;
	left: 0px;
}

.jumbotron{
	background-color: white;
}

.navbar {
	position: relative;
	height: 5px;
	/* margin-bottom: 20px; */
	padding: 0px;
	margin: 0px;
	min-height: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
	border: 1px solid transparent;
	background-image: asset-url('firula.png');
	background-repeat: no-repeat;
}
